.personInfo div{
    background: #FFF;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.personInfo div .button-action{
    width: 50%;
    height: 30px;
    background: #141F6A;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    transition: filter 0.2s;
}

.personInfo div button:hover{
    opacity: 0.8;
}

.personInfo div h3{
    display: block;
    font-size: 18px;
    color: #41414d;    
}

.personInfo div p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.personInfo .btn-group{
    display: flex;
    align-items: center;    
}
.personInfo .weight-group, .info-group{
    display: flex;
    align-items: flex-start;       
    justify-content: space-between; 
    margin-top: 20px;
    height: 30px;
}

.personInfo button {
    height: 20px;   
    border-radius: 4px;
    border: 1px solid #dcdce6;
    color: #41414d;
    background: transparent;  
    transition: border-color 0.5s;
  }

  .personInfo .button-profile{      
    position: absolute;
    right: 0px;
    top: 10px;
    border: 0;
    width: 25%;
    color: #41414d;
    font-size: 16px;
    display: flex;
    align-items: center;        
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;    
    margin-bottom: 0px;
  }