header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.header-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #141F6A;
}

.header-nav-content span {
    font-size: 20px;
    margin-left: 24px;
}

.header-content-container{
    display: flex;
    align-items: center;
}

.header-content-container a {
    width: 170px;
    margin-left: auto;
    margin-top: 0;
  }