header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.header-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E02041;
}

.header-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.header-contact-container {
    display: flex;
    align-items: center;
}

.header-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.5s;
}

.header-contact-link:hover{
    border-color: #E02041;
}
